# ==========================
# Ambientes Virtuais
# ==========================

.venv/
venv/
ENV/
env/


# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/


# ==========================
# Bancos locais
# ==========================

*.db
*.sqlite3
tests_temp_audio.db


# ==========================
# Storage gerado
# ==========================

server/storage/20*
server/storage/trash/*
!server/storage/trash/.gitkeep

server/storage/**/*.mp3
server/storage/**/*.wav
server/storage/**/*.ogg
server/storage/**/*.flac


# ==========================
# Ambiente
# ==========================

.env


# ==========================
# Logs
# ==========================

*.log


# ==========================
# Temporários
# ==========================

*.tmp
*.temp


# ==========================
# IDE
# ==========================

.vscode/


# ==========================
# Windows
# ==========================

Thumbs.db
Desktop.ini